# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
*.pyi

# Virtual Environment
env/
.venv/
venv/

# Editor-specific
.vscode/
.idea/
.cursor/

# macOS
.DS_Store
*.swp
*.swo

# Logs and databases
*.log
*.sqlite

# Local configuration
.env

# Distribution / Build
dist/
build/
*.egg-info/
